  <nav>
    <div class="nav-wrapper grey lighten-5">
      <a routerLink="/" class="brand-logo"> <img src="../../../assets/img/Desert-Oasis-Healthcare-Logo.png"></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a routerLink="/page_2" >Search</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li>
            <div class="user-view">
              <div class="background"></div>
                <a href="#!name"><span class="name">Don Martirez</span></a>
                <a href="#!email"><span class="email">don.martirez@gmail.com</span></a>
            </div>
        </li>
        <li>
          <a routerLink="/page_2">Search </a>
        </li> 
      </ul>
    </div>
  </nav>
         