<div class="col s12 m8 l8 ">
  <div class="card-panel hoverable card grey lighten-5">
    <div class="card-content row ">
      <span class="card-title col s12 m6 l8">Employee Search</span>
      <div class="input-field col s12 m6 l4">
        <i class="material-icons prefix">account_circle</i>
        <input name="first_name" class="validate" type="text" (keydown)="search($event)" >
        <label class="active" for="first_name">Type Name here...</label>
      </div>
    </div>
  <div *ngIf="employee?.length < 1 ">
  </div>
  <div class="card-action">
    <table class="striped responsive-table">
      <thead>
        <tr>
          <th width="25%">Name</th>
          <th width="25%">Dept</th>
          <th width="25%">Phone </th>
          <th width="25%">Ext.</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees">
          <td width="22%">{{employee?.first_name}} {{employee?.last_name}}</td>
          <td width="22%">{{employee?.department}}</td>
          <td width="22%">{{employee?.phone}}</td>
          <td width="22%">{{employee?.extension}}</td>
        </tr>
      </tbody>
    </table> 
    </div>
   </div>
   </div>